crawler/data/
modeling/data/*
modeling/intermediate/*
modeling/output/*
modeling/program/__pycache__/*
crawler/program/__pycache__/*
modeling/program/topic/*
modeling/prediction/*
modeling/evaluation/*
modeling/program/sentiment/*
modeling/others/*
